* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    width: 90%;
    margin: 0 auto;
    padding: 20px;
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    
}

h1 {
    font-size:24px;
    font-weight:normal;
}

.status-bar {
    overflow: hidden;
    margin-bottom: 40px;
}

#status {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    padding: 4px 14px;
    background-color:#4B946A;
    float: left;
}

#connect {
    float: right;
    border: 0;
    font-size:12px;
    background: #90C3D4;
    color: #ffffff;
    padding: 4px 14px;
    border-radius: 4px;
    -webkit-border-radius:4px;
}

@font-face {
    font-family: skateFont;
    src: url('../img/SKATRG__.ttf');
}

#title {
    text-align: center;
    font-family: skateFont;
    color: #222;
    font-size: 24px;
    text-shadow: 1px 1px 3px #ffffff;
}

#logo {
    width: 200px;
    height: 200px;
    margin: 0 auto;
    background-image: url('../img/logo_2.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#tricks {
    list-style: none;
}
    #tricks li {
        padding: 15px 10px 15px;
        border-bottom: 1px solid #333333;
        overflow: hidden;
    }
    #tricks li p {
        float: left;
    }
    #tricks li .count {
        width: 20px;
        height: 20px;
        float: right;
        display: inline-block;
        color: #ffffff;
        text-align: center;
        line-height: 20px;
        background: rgba(255,0,0,0.4);
        border-radius: 50%;
        padding-left: 1px;
        box-shadow: 1px 1px 2px rgba(0,0,0,0.6);
    }

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}
